#maindiv {
  //background-image: url("https://png.pngtree.com/background/20230415/original/pngtree-colorful-pastel-drawing-paper-texture-watercolor-background-picture-image_2443110.jpg");

  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjUzNy1udW5vb24tMDIuanBn.jpg");

  background-size: auto;
}

#navbar {
  background-color: rgba(250, 235, 215, 0.3);
  backdrop-filter: blur(2px);
}
